#-
#               _ _       _
#  _____      _(_) |_ ___| |__
# / __\ \ /\ / / | __/ __| '_ \
# \__ \\ V  V /| | || (__| | | |
# |___/ \_/\_/ |_|\__\___|_| |_|
#
#- from github.com/ngocjohn/hass-config
#

template:
  - switch:
      - unique_id: macbook_switch
        turn_on:
          - action: script.macbook_air_login
        turn_off:
          - action: shell_command.lock_mac
        default_entity_id: switch.macbook
        state: "{{ is_state('binary_sensor.macbook_air_active', 'on') }}"
        name: macbook
      - unique_id: sw_office_humid
        turn_on:
          - target:
              entity_id:
                - fan.office_ripple_ripple
            action: fan.turn_on
        turn_off:
          - target:
              entity_id:
                - fan.office_ripple_ripple
            action: fan.turn_off
        default_entity_id: switch.office_humidifier
        state: "{{ is_state('fan.office_ripple_ripple', 'on') }}"
        name: office_humidifier
      - unique_id: sw_bedroom_humid
        turn_on:
          - target:
              entity_id:
                - fan.bedroom_ripple_ripple
            action: fan.turn_on
        turn_off:
          - target:
              entity_id:
                - fan.bedroom_ripple_ripple
            action: fan.turn_off
        default_entity_id: switch.bedroom_humidifier
        state: "{{ is_state('fan.bedroom_ripple_ripple', 'on') }}"
        name: bedroom_humidifier
      - unique_id: watchtower_switch
        turn_on:
          - action: shell_command.unpause_watchtower
          - event: DOCKER_CONTAINER_UPDATE
        turn_off:
          - action: shell_command.pause_watchtower
          - event: DOCKER_CONTAINER_UPDATE
        default_entity_id: switch.watchtower
        name: Watchtower
        state: "{{ is_state('binary_sensor.docker_watchtower', 'on') }}"

  # Humidifier
generic_hygrostat:
  - name: Office Humidifier
    unique_id: 826cc024-01a3-43b1-8b78-6c652a7776ab
    humidifier: switch.office_humidifier
    target_sensor: sensor.office_temp_humid_humidity
    target_humidity: 100
    device_class: 'humidifier'
  - name: Bedroom Humidifier
    unique_id: 10fc5132-12f5-45fa-94e1-4f2f9acedd1a
    humidifier: switch.bedroom_humidifier
    target_sensor: sensor.bedroom_tem_humid_humidity
    target_humidity: 100
    device_class: 'humidifier'
