.vscode
config/README.md
config/addons_config_backup/
config/node-red-backup/
config/scripts.yaml
config/gitpush.sh
private_repo.sh
config/index.html
config/hassio.code-profile
config/templates
.gitignore
config/.vscode
secrets.yaml
*.sh
config/www/*
!config/www/hafloor