config/.gitignore
config/.vscode
config/addon_configs_symlink
config/addons_config_backup/
config/automations.yaml
config/custom_templates
config/gitpush.sh
config/hassio.code-profile
config/index.html
config/node-red-backup/
config/README.md
config/scripts.yaml
config/templates
config/utils/
config/README.md
config/go2rtc.yaml
!config/www/hafloor



.DS_Store
.vscode
*.sh
config/www/*
private_repo.sh
secrets.yaml
config/.gitignore
config/automations.yaml
commit-updates.py
logs/
