config/.gitignore
config/.vscode
config/addon_configs_symlink
config/addons_config_backup/
config/custom_templates
config/gitpush.sh
config/go2rtc.yaml
config/hassio.code-profile
config/index.html
config/node-red-backup/
config/README.md
config/scripts.yaml
config/templates
config/utils/
config/www/dashboard-resources
config/www/lovelace-media-player-card
!config/www/hafloor



.DS_Store
.vscode
*.sh
config/www/*
private_repo.sh
secrets.yaml
commit-updates.py
logs/
