#-
#  _     _
# | |__ (_)_ __   __ _ _ __ _   _
# | '_ \| | '_ \ / _` | '__| | | |
# | |_) | | | | | (_| | |  | |_| |
# |_.__/|_|_| |_|\__,_|_|   \__, |
#                           |___/
#- from github.com/ngocjohn/hass-config
#
#
#################################################
#                                               #
#                BINARY SENSORS                 #
#                                               #
#################################################
template:
  - binary_sensor:
      #BINARY SENSOR - ROOM OCCUPANCY
      - name: 'Shower Room Occupancy'
        unique_id: shower_room_occupancy
        device_class: occupancy
        state: >-
          {{
            is_state('binary_sensor.contact_sensor_shower_room_contact', 'off')
            or is_state('binary_sensor.motion_sensor_shower_room_occupancy', 'on')
          }}
      - name: 'Bathroom Occupancy'
        unique_id: bathroom_occupancy
        device_class: occupancy
        state: >-
          {{
            is_state('binary_sensor.contact_sensor_bathroom', 'off')
            or is_state('binary_sensor.motion_sensor_bathroom_occupancy', 'on')
          }}
      - name: 'Living Room Occupancy'
        unique_id: living_room_occupancy
        device_class: occupancy
        state: >-
          {{
            is_state('group.light_living_room', 'on')
            or is_state('media_player.sony_bravia_tv', 'on')
          }}
      - name: 'Kitchen Occupancy'
        unique_id: kitchen_occupancy
        device_class: occupancy
        state: >-
          {{
            is_state('light.kitchen_main_light', 'on')
            or is_state('light.kitchen_table_light', 'on')
          }}
      - name: 'Living & Kitchen Occupancy'
        unique_id: living_kitchen_occupancy
        device_class: occupancy
        state: >-
          {{
            is_state('binary_sensor.kitchen_occupancy', 'on')
            or is_state('binary_sensor.living_room_occupancy', 'on')
          }}
      - name: 'People Home'
        unique_id: home_occupancy
        device_class: occupancy
        icon: mdi:home-import-outline
        state: >-
          {{
            is_state('input_boolean.z_occupacy', 'on')
            or is_state('person.huong_giang', 'home')
            or is_state('person.phuong_chi', 'home')
            or is_state('device_tracker.phuong_chi_iphone', 'home')
            or is_state('input_boolean.guest_mode','on')
          }}
      - name: 'Zuzu Presence'
        unique_id: zuzu_occupancy
        device_class: occupancy
        icon: mdi:account
        state: >-
          {{
            is_state('input_boolean.z_occupacy', 'on')
          }}

      - name: 'Zigbee Sensors Problem'
        unique_id: zigbee_sensors_problem
        device_class: problem
        icon: mdi:zigbee
        state: >-
          {{this.attributes.offline | count > 0}}
        attributes:
          offline: >
            {%- set offline = (expand(states.group.contact_sensors) + expand(states.group.motion_sensors)) | selectattr( 'state', 'in', ['unknown', 'unavailable']) | map(attribute='name') | list -%}
            {{- offline }}

      - name: 'MacbookPro'
        unique_id: '1bd2146a-71b3-4b5b-b86a-14c732042731'
        device_class: running
        icon: custom:ios-desktop-computer
        state: "{{ is_state_attr('binary_sensor.mbproserver_active', 'Sleeping', false ) }}"
