/* Motion Sensors Animations */
@keyframes ripple {
	0% {
		r: 0;
		opacity: 0.05;
	}

	20% {
		r: 0;
		opacity: 0.5;
	}

	100% {
		r: 50px;
		opacity: 0;
	}
}

@keyframes strokeAnimation {
	0% {
		stroke-dashoffset: 400;
	}

	100% {
		stroke-dashoffset: -400;
	}
}

/* ANIMATION CSS styles */
@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	99% {
		opacity: 0.01;
		width: 100%;
		height: 100%;
	}

	100% {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes flickerAnimation {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes colorMove {
	0% {
		stroke-dasharray: 0;
		filter: blur(0px);
		opacity: 1;
	}

	25% {
		stroke-dasharray: 400;
		stroke-dashoffset: -100;
		filter: blur(4px);
		/* Adjust the blur amount as needed */
		opacity: 0.5;
		/* Adjust the opacity as needed */
	}

	50% {
		stroke-dasharray: 400;
		stroke-dashoffset: -200;
		filter: blur(0px);
		opacity: 1;
	}

	75% {
		stroke-dasharray: 400;
		stroke-dashoffset: -300;
		filter: blur(4px);
		/* Adjust the blur amount as needed */
		opacity: 0.5;
		/* Adjust the opacity as needed */
	}

	100% {
		stroke-dasharray: 400;
		stroke-dashoffset: -400;
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes active-pulse {
	0% {
		filter: unset;
		stroke-opacity: 1;
		stroke-width: 1px;
	}

	15% {
		stroke-opacity: 1;
	}

	100% {
		filter: unset;
		stroke-opacity: 0;
		stroke-width: 15px;
	}
}

@keyframes coverClosing {
	0% {
		opacity: 0;
		transform: scaleY(0.5);
	}

	100% {
		transform: scaleY(1);
		fill: #000000;
		fill-opacity: 0.6;
	}
}

/* Main CSS styles */
svg,
svg * {
	pointer-events: all !important;
	cursor: auto;
}

svg path {
	fill: inherit;
	stroke: inherit;
	stroke-width: inherit;
}

g#cover,
g#doors {
	fill: none;
	stroke: none;
}

g#temphumid.temphumid-on {
	display: block;
}

g#temphumid {
	display: none;
}

g#Background>g#base-background.below_horizon image#above_horizon {
	display: none;
}

/** * Background styles */

#light-overlays image {
	display: none;
	/* /* transform: translate3d(0, 0, 0) !important; */
	animation: fade-in 0.75s linear forwards;

}

/*
#light-overlays image.light-off {
	transform: translate3d(0, 0, 0) !important;
	animation: fade-out 0.75s linear forwards;
} */

#light-overlays image.light-on {
	display: block;
	transform: translate3d(0, 0, 0) !important;
	animation: 0.75s fade-in linear forwards;
}

#areas path {
	fill: none;
	cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='SteelBlue' stroke='white' stroke-width='10' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"),
		auto !important;
}

#areas .light-on {
	stroke-width: 3px;
	stroke-opacity: 0.6;
	stroke: #8eb2e1;
}

#areas .motion-on {
	fill: #ff00002e;
	stroke: #ff000087;
	stroke-width: 3px;
	stroke-opacity: 1;
	filter: unset;
	animation: fade-in 1s infinite alternate;
}

g path:active,
g use:active,
.light-on:active,
g#entities>g:active path:not(.touch-area) {
	stroke: #9ed8ff99 !important;
	stroke-width: 4px;
	stroke-opacity: 0.7;
}

/* g#entities path,
g#entities ellipse {
	stroke: var(--paper-item-icon-color);
	stroke-width: 1px;
	stroke-opacity: 1;
	fill: none;
} */

/* g#entities .light-on {
	stroke: var(--paper-item-icon-active-color);
} */

g#entities path#media_player\.living_room_tv,
g#entities path#media_player\.bedroom_tv {
	cursor: url(/local/img/svg/atv-remote.svg), wait !important;
}

g#icons path#icon-front-door {
	cursor: pointer !important;
}

g#entities .media-player-tv.media-player-idle,
g#entities .media-player-tv.media-player-standby,
g#entities .media-player-tv.media-player-paused {
	fill: #2196f3;
	stroke: #212121;
	stroke-width: 3px;
	stroke-opacity: 1;
}

/* g#entities .media-player-tv.living-idle,
g#entities .media-player-tv.living-standby,
g#entities .media-player-tv.living-paused {
	fill: #2196f3;
	stroke: #212121;
	stroke-width: 3px;
	stroke-opacity: 1;
} */

#entities path {
	fill: none;
	stroke-opacity: 0;
}

#doors .door-on {
	fill: #ff00002e;
	stroke: #ff000087;
	stroke-width: 3px;
	stroke-opacity: 1;
	filter: unset;
	animation: fade-in 1s infinite alternate;
}

#doors .door-locked {
	stroke: #ff0000;
	stroke-width: 2px;
	stroke-opacity: 0.3;
	filter: sepia(1);
}

g#cover path:hover {
	cursor: move !important;
}

#cover .cover-closed {
	fill: #000000;
	fill-opacity: 0.6;
}

#cover .cover-closing {
	animation: coverClosing 10s;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
}

.cover-closed:hover,
g#cover>g:hover path:not(.touch-area) {
	stroke: #a37e79 !important;
	stroke-width: 4px;
	stroke-opacity: 0.3;
}

.light-off:hover,
g#areas>g:hover path:not(.touch-area) {
	stroke: #e1e1e126 !important;
	stroke-width: 4px !important;
	stroke-opacity: 1;
}

/* Motions Group Styles */

#motions>g.motion-on>circle {
	stroke: green;
	stroke-width: 5px;
	filter: drop-shadow(0px 0px 6px rgba(75, 216, 63, 1)) opacity(100%);
	animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#motions>g.motion-on>circle:nth-child(2) {
	animation-delay: -0.1s;
}

#motions>g.motion-on>circle:nth-child(3) {
	animation-delay: -0.2s;
}

/* TV MEDIA PLAYER STYLE  */

/* #tv_overlays path {
	fill: none;
} */

#tv_overlays #media_player_overlay\.living_room_tv.media-living-unknown,
#tv_overlays image.media-living-off,
#tv_overlays path.media-living-off,
#tv_overlays #atv-entity-picture.media-living-idle {
	display: none;
}

#tv_overlays #atv_idle_path.media-living-idle {
	stroke: rgb(255, 0, 0) !important;
	stroke-width: 5 !important;
	animation: 5s ease-in-out 0s infinite strokeAnimation;
}

#tv_overlays image.media-player-tv.media-player-idle,
#tv_overlays image.media-player-tv.media-player-standby,
#tv_overlays image.media-player-tv.media-player-paused {
	display: block;
	mix-blend-mode: normal;
	animation: 2s fade-in both;
}

#tv_overlays image.media-player-tv.media-player-playing {
	cursor: pointer !important;
}