#-
#   __                 _                 _
#  / _|_ __ ___  _ __ | |_ ___ _ __   __| |
# | |_| '__/ _ \| '_ \| __/ _ \ '_ \ / _` |
# |  _| | | (_) | | | | ||  __/ | | | (_| |
# |_| |_|  \___/|_| |_|\__\___|_| |_|\__,_|
#
#
#- from github.com/ngocjohn/hass-config
#
# PANEL CUSTOM

ingress:
  local_homebridge:
    work_mode: iframe
    ui_mode: normal
    title: Homebridge
    icon: si:homebridge
    url:
      match: !secret external_url
      replace: !secret homebridge_url
      default: http://192.168.0.146:8581/
  local_appdaemon:
    work_mode: iframe
    ui_mode: normal
    title: AppDaemon
    icon: si:python
    url:
      match: !secret external_url
      replace: !secret appdaemon_url
      default: http://192.168.0.231:5050/
  ## HA CONFIG PAGES ##
  link_areas:
    work_mode: iframe
    ui_mode: replace
    title: Areas
    icon: mdi:floor-plan
    url: /config/areas/dashboard
  link_automation:
    work_mode: iframe
    ui_mode: replace
    title: Automations
    icon: mdi:robot
    url: /config/automation/dashboard
  link_supervisor:
    work_mode: iframe
    ui_mode: replace
    title: Supervisor
    icon: mdi:information-variant
    url: /hassio/system/info
  link_logs:
    work_mode: iframe
    ui_mode: replace
    title: Logs
    icon: mdi:math-log
    url: /config/logs
  link_addons:
    work_mode: iframe
    ui_mode: replace
    title: Addons
    icon: mdi:puzzle
    url: hassio/dashboard
  link_integrations:
    work_mode: iframe
    ui_mode: replace
    title: Integrations
    icon: mdi:devices
    url: config/integrations
  link_developer_tools:
    work_mode: iframe
    ui_mode: replace
    title: Developer Tools
    icon: mdi:hammer
    url: config/developer-tools
  link_node_red:
    ui_mode: normal
    work_mode: hassio
    title: Node-RED
    icon: si:nodered
    url: a0d7b954_nodered
  link_music_assistant:
    ui_mode: normal
    work_mode: hassio
    title: Music Assistant
    icon: si:applemusic
    url: d5369777_music_assistant
