#-
#  _       _                       _   _
# (_)_ __ | |_ ___  __ _ _ __ __ _| |_(_) ___  _ __  ___
# | | '_ \| __/ _ \/ _` | '__/ _` | __| |/ _ \| '_ \/ __|
# | | | | | ||  __/ (_| | | | (_| | |_| | (_) | | | \__ \
# |_|_| |_|\__\___|\__, |_|  \__,_|\__|_|\___/|_| |_|___/
#                  |___/
#
#- from github.com/ngocjohn/hass-config
#
# roidmi.vacuum.v60 (Roidmi EVE Plus)
xiaomi_miot:
  username: !secret vacuum_username
  password: !secret vacuum_password
  server_country: de
  device_customizes:
    roidmi.vacuum.v60:
      exclude_miot_services: null

favicon:
  tile: Neklanka
  icon_path: /local/favicons/
