!.gitignore
!*.js*
!*.md
!*.yaml
._*
.cloud
.DS_Store
secrets.yaml

### HomeAssistant ###
# Files with personal details
*.crt
*.csr
*.key
.cloud
.google.token
.storage
.ssh
.uuid
.mercedesme-token-cache
.youtube_new.txt
ssl/
.ssl
.*
*.pem

icloud/
custom_sentences/


google_calendars.yaml
harmony_media_room.conf
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
html5_push_registrations.conf
image
ip_bans.yaml
known_devices.yaml
phue.conf
plex.conf
pyozw.sqlite

tradfri.conf
webostv.conf
go2rtc.yaml

/templates
packages/integrations.yaml
packages/intent_script.yaml

# Temporary files
*.db-journal
*.pid
tts
._*
*.code-workspace
*.db
*.db*
*.code-*
*.sh

# automatically downloaded dependencies
deps
lib

# Log files
home-assistant.log
home-assistant.log.*
ozw_log.txt

# Development files
custom_components/*/*
!custom_components/*/manifest.json

glances/


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets














go2rtc-1.2.0
google_stt.json
govee_learning.yaml
icloud3-0.log
image/
local/

ps5-mqtt/
python_scripts/
redact-secrets/
screenshots/
secrets_template.yaml
tmp/
tts/
www/*
!www/hafloor
!www/dashboard-resources
!www/lovelace-media-player-card
zigbee2mqtt/
known_devices.yaml


.HA_BEFORE
