#
#     ______            _____                        __  _
#    / ____/___  ____  / __(_)___ ___  ___________ _/ /_(_)___  ____
#   / /   / __ \/ __ \/ /_/ / __ `/ / / / ___/ __ `/ __/ / __ \/ __ \
#  / /___/ /_/ / / / / __/ / /_/ / /_/ / /  / /_/ / /_/ / /_/ / / / /
#  \____/\____/_/ /_/_/ /_/\__, /\__,_/_/   \__,_/\__/_/\____/_/ /_/
#                         /____/
default_config:
homeassistant:
  packages: !include_dir_named packages
  allowlist_external_dirs:
    - /config
  media_dirs:
    movies: /media/movies
    local: /media

# FRONT - END
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js?hacstag=190927524400
    - /hacsfiles/lovelace-canary/canary.js?hacstag=245159052050
    - /hacsfiles/sidebar-organizer/sidebar-organizer.js?hacstag=932534411220
    - /local/dashboard-resources/customize-css-change.js?v1.0.0

# HTTP
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24

# INCLUDES
automation ui: !include automations.yaml
script: !include scripts.yaml
