<div align="left">
    <a href="https://github.com/ngocjohn/hass-config/commits/main"><img alt="GitHub last commit (branch)" src="https://img.shields.io/github/last-commit/ngocjohn/hass-config/main"></a>
    <a href="https://github.com/ngocjohn/hass-config/stargazers"><img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/ngocjohn/hass-config"></a>
</div>

# Home Assistant Configuration

Hey there! Welcome to my little corner of the tech world! 👨‍💻

This is where I store all the cool configurations for my Home Assistant system. Well, it's a mix of awesome codes and setups I discovered from the Home Assistant community. Seriously, those folks are wizards! 🧙‍♂️ As a bit of an internet newbie turned tech enthusiast, I stumbled upon the magic of IT, and this repository is my way of sharing the joy and knowledge I've gained along the way. Dive in, explore, and let the tech magic begin! ✨

I frequently refresh my configuration files. My current Home Assistant version is {{ states.sensor.current_version.state }}. If you find something you like, don't forget to give my repository a ⭐️!

<video width="100%" controls autoplay loop muted>
  <source src="https://github-production-user-asset-6210df.s3.amazonaws.com/96962827/285987130-48cc5542-0ca7-480b-9c95-77aa9464eb10.mp4" type="video/mp4">
</video>

  https://github.com/ngocjohn/hass-config/assets/96962827/04aa847e-42fb-46cb-9a97-bc83249684fd

## Some statistics about my installation


<table>
    <thead>
        <tr>
            <th>Lines of code</th>
            <th>Automations</th>
            <th>Binary sensors</th>
            <th>Device trackers</th>
            <th>Lights</th>
            <th>Media players</th>
            <th>Sensors</th>
            <th>Switches</th>
            <th>Scripts</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ "{0:,.0f}".format(states("sensor.code_line_count")|int(default=0))|trim }} </td>
            <td>{{ sensor.automations }}</td>
            <td>{{ sensor.binary_sensors }}</td>
            <td>{{ sensor.device_trackers }}</td>
            <td>{{ states.light | count }}</td>
            <td>{{ sensor.lights }}</td>
            <td>{{ sensor.sensors }}</td>
            <td>{{ sensor.switches }}</td>
            <td>{{ sensor.scripts }}</td>
        </tr>
    </tbody>
</table>

## My installed extensions
<details>
  <summary>Add-ons</summary>


### Add-ons
{%- for addon in addons | sort(attribute='name') %}
- {{addon.name}}
{%- endfor %}
</details>

<details>
  <summary>Custom integrations</summary>

### Custom integrations
{%- for component in hacs_components | selectattr('category', 'equalto', 'integration') | sort(attribute='name') %}
- [{{component.name}}]({{component.documentation}})
{%- endfor %}
</details>

<details>
  <summary>Lovelace plugins</summary>

### Lovelace plugins
{%- for component in hacs_components | selectattr('category', 'equalto', 'plugin') | sort(attribute='name') %}
- [{{component.name}}]({{component.documentation}})
{%- endfor %}
</details>


## My dashboard

My dashboard is basically a cool fusion of ideas, mainly inspired by the awesome [Matt8707](https://github.com/matt8707/hass-config) 🌟. I threw in some extra goodies to make it perfect for my needs! 🚀

<a href="#" onclick="openPopup('screenshots/wide.png', 'Wide Image'); return false;"><img src="screenshots/wide.png" alt="Wide Image"></a>
<a href="#" onclick="openPopup('screenshots/systeminfo.gif', 'System Info Image'); return false;"><img src="screenshots/systeminfo.gif" alt="System Info Image"></a>

The floorplan is crafted using the [Ha Floorplan](https://github.com/ExperienceLovelace/ha-floorplan) Lovelace plugin, and it features interactive controls thanks to the [Honeycomb Menu](https://github.com/Sian-Lee-SA/honeycomb-menu).

<video width="100%" controls autoplay loop muted>
  <source src="https://github-production-user-asset-6210df.s3.amazonaws.com/96962827/286403471-9e4efab5-5bc5-4b71-94d2-37937cf1df77.mp4" type="video/mp4">
</video>

  https://github.com/ngocjohn/hass-config/assets/96962827/77487f2e-3f8e-4362-8767-bc3fd2d08b0a


### Mobile and tablet

<table>
  <tr>
    <td><a href="#" onclick="openPopup('screenshots/mobile.png', 'Mobile Image'); return false;"><img src="screenshots/mobile.png" alt="Mobile Image"></a></td>
    <td><a href="#" onclick="openPopup('screenshots/portrait.png', 'Portrait Image'); return false;"><img src="screenshots/portrait.png" alt="Portrait Image"></a></td>
  </tr>
</table>

### Popups

<table>
  <tr>
    <td><a href="#" onclick="openPopup('screenshots/vacuum.png', 'Vacuum Image'); return false;"><img src="screenshots/vacuum.png" alt="Vacuum Image"></a></td>
    <td><a href="#" onclick="openPopup('screenshots/system.png', 'System Image'); return false;"><img src="screenshots/system.png" alt="System Image"></a></td>
  </tr>
  <tr>
    <td><a href="#" onclick="openPopup('screenshots/network.png', 'Network Image'); return false;"><img src="screenshots/network.png" alt="Network Image"></a></td>
    <td><a href="#" onclick="openPopup('screenshots/server.png', 'Server Image'); return false;"><img src="screenshots/server.png" alt="Server Image"></a></td>
  </tr>
</table>


***

Generated by the [custom readme integration](https://github.com/custom-components/readme)